<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Dynaway Homework
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-alert 
  [isOpen]="isAlertOpen" 
  header="Error!!" 
  subHeader="An Error has occured!!" 
  message="{{errorMessage}}"
  [buttons]="alertButtons" 
  (didDismiss)="setOpen(false)">
  </ion-alert>

<ion-content [fullscreen]="true" color="background">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Dynaway Homework</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="list">
    <ng-container *ngIf="assets.length; else skeleton"> 
      <ion-row> 
        <ion-col *ngFor="let asset of assets" size-xl="4" size-md="6" size="12"> 
          <app-asset-card [asset]="asset"></app-asset-card> 
        </ion-col> 
      </ion-row> 
    </ng-container>
    <ng-template #skeleton> 
      <ion-row> 
        <ion-col *ngFor="let _ of [].constructor(6)" size-xl="4" size-md="6" size="12">
          <app-asset-card /> 
        </ion-col> 
      </ion-row> 
    </ng-template>
  </ion-grid>
</ion-content>
